a {
	color: #f26621;
}

.ui-slider-horizontal .ui-slider-range {
    background: #f26621 !important;
}

a:hover {
	color: #f26621;
}

#header-main .dropdown-menu li a:hover {
	color: #f26621 !important;
}

#header-main .yamm-fw .dropdown-menu li a:hover {
	color: #f26621 !important;
}

#header-main .navbar-nav > li > a:hover,
	#header-main .navbar-default .navbar-nav > .open > a,
	#header-main .navbar-default .navbar-nav > .open > a:hover,
	#header-main .navbar-default .navbar-nav > .open > a:focus {
	color: #f26621 !important;
}

#header-main .dropdown-menu,
	#header-main .yamm .dropdown.yamm-fw .dropdown-menu {
	border-top-color: #f26621 !important;
}

#header-main .yamm h3 i,
	#header-main .yamm-fw .dropdown-menu li a:before {
	color: #f26621;
}

#header-main .navbar-nav > li > a:hover .arrow-up {
	color:#f26621;
}

#header-main .navbar-nav > li > a.active .arrow-up {
	color:#f26621;
}

.ss2-content i {
	color: #f26621;
}

.ss-bg-color {
	background:#f26621 !important;
}

.button:hover {
	background: #f26621 !important;
}


.button.color2 {
	background: #f26621;
}


.button.color5 {
	background: #f26621;
}

.button.btn-border.color2 {
	border-color: #f26621;
	color: #f26621;
}

.cta-clr {
	background:#f26621;
}

.button.btn-border.color2:hover {
	background: #f26621 !important;
}

.button.one {
	background: #f26621;
}

.small-sep {
	background: #f26621;
}

.progress-line {
	background-color: #f26621;
}

.page_header h3 span {
    background: #f26621;
}

#accordion.panel-group .panel.active .panel-title a span {
	background: #f26621;
}

.block-heading h3 {
	background: #f26621;
}

.feature-box .feature-box-icon {
	color: #f26621;
}

.feature-box2 .feature-box-icon {
	background:#f26621;
}

.domain-box.db-dark {
	background:#d15b06;
}

.plan-price {
	background: #f26621;
	background: -moz-linear-gradient(-45deg,  #f26621 0%, #f26621 85%, #d15b06 86%, #d15b06 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f26621), color-stop(85%,#f26621), color-stop(86%,#d15b06), color-stop(100%,#d15b06));
	background: -webkit-linear-gradient(-45deg,  #f26621 0%,#f26621 85%,#d15b06 86%,#d15b06 100%);
	background: -o-linear-gradient(-45deg,  #f26621 0%,#f26621 85%,#d15b06 86%,#d15b06 100%);
	background: -ms-linear-gradient(-45deg,  #f26621 0%,#f26621 85%,#d15b06 86%,#d15b06 100%);
	background: linear-gradient(135deg,  #f26621 0%,#f26621 85%,#d15b06 86%,#d15b06 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26621', endColorstr='#d15b06',GradientType=1 );
}

.pricing-table-s1 li i {
	color: #f26621;
}

.pricing-table2 thead tr th {
	background: #f26621;
	background: -moz-linear-gradient(-45deg,  #f26621 0%, #f26621 85%, #d15b06 86%, #d15b06 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f26621), color-stop(85%,#f26621), color-stop(86%,#d15b06), color-stop(100%,#d15b06));
	background: -webkit-linear-gradient(-45deg,  #f26621 0%,#f26621 85%,#d15b06 86%,#d15b06 100%);
	background: -o-linear-gradient(-45deg,  #f26621 0%,#f26621 85%,#d15b06 86%,#d15b06 100%);
	background: -ms-linear-gradient(-45deg,  #f26621 0%,#f26621 85%,#d15b06 86%,#d15b06 100%);
	background: linear-gradient(135deg,  #f26621 0%,#f26621 85%,#d15b06 86%,#d15b06 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26621', endColorstr='#d15b06',GradientType=1 );
}

.pricing-table3 ul li h3 {
	background: #f26621;
}

.search-container button {
	background: #f26621;
}

.cat-list li a:hover {
	color: #f26621;
}


.popular-desc h5 a:hover {
	color: #f26621;
}

.tag-list a:hover {
	background:#f26621;
}

.nav-tabs li.active::after {
	background: #f26621;
}

.nav-tabs li a span {
	color: #f26621;
}

#accordion-e3 .panel-title span.icon-check2 {
	color: #f26621;
}

.style1 {
	border-left: 5px solid #f26621;
}

.style1.blockquote-reverse {
	border-right: 5px solid #f26621;
}

.stats1-info i {
	color: #f26621;
}

.stats2-info h2 {
	color: #f26621;
}

.stats3-info i {
	color: #f26621;
}

.service-content span {
	color: #f26621;
}

.service-content:hover span {
	background: #f26621;
}

.service-content span:after {
	background: #f26621;
}

.service-content:hover span:after {
	background: #f26621;
}

.feature-content i {
	background: #f26621;
	background: -moz-linear-gradient(-45deg,  #f26621 0%, #f26621 49%, #d15b06 50%, #d15b06 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f26621), color-stop(85%,#f26621), color-stop(86%,#d15b06), color-stop(100%,#d15b06));
	background: -webkit-linear-gradient(-45deg,  #f26621 0%,#f26621 49%,#d15b06 50%,#d15b06 100%);
	background: -o-linear-gradient(-45deg,  #f26621 0%,#f26621 49%,#d15b06 50%,#d15b06 100%);
	background: -ms-linear-gradient(-45deg,  #f26621 0%,#f26621 49%,#d15b06 50%,#d15b06 100%);
	background: linear-gradient(135deg,  #f26621 0%,#f26621 49%,#d15b06 50%,#d15b06 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26621', endColorstr='#d15b06',GradientType=1 );
}

h2.post-title a:hover {
	color: #f26621;
}

h2.post-title-small a:hover {
	color: #f26621;
}

.post-meta span {
	color:#f26621;
}

.post-meta span a {
	color: #f26621;
}

.page_nav a:hover {
	background: #f26621;
}

.info-home h3 em {
	color: #f26621;
}

.hover-zoom a:hover {
	background: #f26621;
}

.features-left i {
	color: #f26621;
}

.features-right i {
	color: #f26621;
}

.team-social li a:hover {
	color:#f26621 !important;
}

.pricing-table4 .title strong {
	color: #f26621;
}


.pricing-table4#popular h6 {
	background: #f26621;
}

.f-posts li h5 a:hover {
	color: #f26621;
}

.reply:hover {
	color: #f26621 !important;
	border: 2px solid #f26621;
}

#portfolio-home.folio-boxed-2col .project-info h2:hover ,
#portfolio-home.folio-boxed-3col .project-info h2:hover ,
#portfolio-home.folio-boxed-4col .project-info h2:hover {
	color: #f26621;
}

#accordion-career .panel-default > .panel-heading {
	border-left: 1px solid #f26621;
}

.feature-list li i {
	color: #f26621;
}

.countdown.styled div span {
	background: #f26621;
}

.list-style1 li i {
	color: #f26621;
}

.cs-wrap .chart-color2 span {
	color: #f26621;
}

.progress-bar-success {
	background: #f26621 !important;
}

.nav-tabs li i {
	color: #f26621;
}

.product-categories li a:hover {
	color: #f26621;
}

.product-post-info h5 a:hover {
color:#f26621;
}

.product-size a.active ,
.product-size a:hover {
	color: #f26621;
	border: 1px solid #f26621;
}

.cart-table tbody tr td  a:hover {
	color: #f26621;
}

.higlight {
	color: #f26621;
}

#about-section2 .about-box .about-post a:hover,
#about-section2 .about-box .about-post a.active {
	background: #f26621;
}

#about-section2 .content-tab .tab-cont h2 {
	color: #f26621;
}

.date-meta {
    background: #f26621 ;
}

#team2 .text-center .team-social a:hover {
color:#f26621;
}

.highlight {
	color:#f26621 !important;
}

#one-res .highlight3 {
	color:#f26621;
}

.highlight4 {
	color:#f26621 !important;
}

#one-res .project-info h2 span {
	color:#f26621;
}

.sc-trigger span {
background: #f26621;
}

.ss-trigger i:hover {
	color:#f26621;
}

.cart-info {
    border-top: 4px solid #f26621;
}

.ci-item-info h5 a:hover {
	color: #f26621;
}

.cart-btn a {
	background: #f26621;
}

.ssc-inner form input {
	border-bottom:4px solid #f26621;
}

.head-w-ul span {
	border-bottom:4px solid #f26621;
	color:#f26621;
}

.dm-wrap span{
	background:#f26621;
}

.volunter-info .button {
	background:#f26621;
}

.rating > span {
   color: #f26621;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   color: #f26621;
}

.navbar-default .navbar-nav > li.active > a {
	color:#f26621 !important;
}

.book-doctor {
    background: #f26621;
}

.domain-box {
	background:#f26621;
}

ul.tld_list .number {
	background:#f26621;
}
